[submodule "ros2_ws/src/mtms_packages/neuronavigation/neuronavigation/invesalius3"]
	path = src/neuronavigation/invesalius3
	url = https://github.com/invesalius/invesalius3
[submodule "src/efield"]
        path = src/efield
	url = https://github.com/connect2brain/e-field.git
[submodule "src/targeting/data"]
        path = src/targeting/data
	url = https://github.com/connect2brain/targeting-tables.git
[submodule "src/waveform_approximator"]
        path = src/waveform_approximator
	url = https://github.com/connect2brain/waveform-approximator.git
[submodule "bitfiles"]
	path = bitfiles
	url = https://github.com/connect2brain/bitfiles.git
[submodule "sites"]
	path = sites
	url = https://github.com/connect2brain/sites.git
