.env

build/
install/
log/

src/build/
src/install/
src/log/

__pycache__
cmake-build-debug
cmake-build-release

# Frontend
front/cypress/videos
front/cypress/screenshots
front/dist-electron/

# Neuronavigation data
data/neuronavigation/
!data/neuronavigation/efield
!data/neuronavigation/example.inv3

# The config for neuronavigation is stored in .config directory.
.config/

# Not used by the project but potentially by individual developers.
.idea
.vscode
venv
.venv
*.patch

# MacOS temporary file
.DS_Store
