[submodule "ros2_ws/src/rosbridge/rosbridge_suite"]
	path = ros2_ws/src/rosbridge/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite
[submodule "ros2_ws/src/neuronavigation_pkg/invesalius3"]
	path = ros2_ws/src/neuronavigation_pkg/invesalius3
	url = https://github.com/sotodela/invesalius3
[submodule "ros2_ws/src/efield/efield_libraries"]
	path = ros2_ws/src/efield/efield_libraries
	url = https://version.aalto.fi/gitlab/matsudr1/efield_integration.git
