[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
flask-cors = "*"
numpy = "*"
mne = "*"
readersender = {editable = true,git = "https://github.com/juusokorhonen/readersender.git"}
python-dotenv = "*"
pykafka = "*"

[requires]
python_version = "3.6"
