[Unit]
Description=mTMS core containers
After=docker.service
Requires=docker.service

[Service]
User=mtms

Environment=MTMS_ROOT={{ repo_root }}
Environment=SITE={{ target_site }}
Environment=CYCLONEDDS_URI={{ repo_root }}/config/cyclonedds.xml

LimitRTPRIO=99
LimitMEMLOCK=10000000000

ExecStart={{ repo_root }}/scripts/linux/usage/start-core
ExecStop={{ repo_root }}/scripts/linux/usage/stop-core
Restart=always

[Install]
WantedBy=multi-user.target
