[Unit]
Description=mTMS service
After=docker.service
Requires=docker.service

[Service]
User=mtms

Environment=MTMS_ROOT={{ repo_root }}
Environment=SITE={{ target_site }}
Environment=CYCLONEDDS_URI={{ repo_root }}/config/cyclonedds.xml
Environment=PROJECTS_ROOT={{ target_home }}/projects
Environment=MTMS_ENV_FILE={{ repo_root }}/sites/{{ target_site }}/.env

LimitRTPRIO=99
LimitMEMLOCK=10000000000

ExecStart={{ repo_root }}/scripts/start-mtms
ExecStop={{ repo_root }}/scripts/stop-mtms
Restart=always

[Install]
WantedBy=multi-user.target
