[Unit]
Description=mTMS service
After=docker.service
Requires=docker.service

[Service]
User={{ target_user }}

Environment=MTMS_ROOT={{ repo_root }}
Environment=MTMS_ENV_FILE={{ repo_root }}/sites/{{ target_site }}/.env
Environment=PROJECTS_ROOT={{ target_home }}/projects
Environment=RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
Environment=CYCLONEDDS_URI={{ repo_root }}/src/resources/cyclonedds.xml

LimitRTPRIO=99
LimitMEMLOCK=10000000000

WorkingDirectory={{ repo_root }}

ExecStart=docker compose up
ExecStop=docker compose down --remove-orphans

Restart=always

[Install]
WantedBy=multi-user.target
