[Unit]
Description=mTMS device bridge service
After=network-online.target
Wants=network-online.target

[Service]
User=mtms

Environment=MTMS_ROOT={{ mtms_root }}
Environment=SITE={{ target_site }}
Environment=CYCLONEDDS_URI={{ mtms_root }}/config/cyclonedds.xml

LimitRTPRIO=99
LimitMEMLOCK=10000000000

Type=simple
User=mtms
ExecStart={{ mtms_root }}/scripts/start-mtms-device-bridge
ExecStop={{ mtms_root }}/scripts/stop-mtms-device-bridge
Restart=always

[Install]
WantedBy=multi-user.target
