[Unit]
Description=mTMS bridge service
After=network-online.target
Wants=network-online.target

[Service]
User=mtms

Environment=MTMS_ROOT={{ repo_root }}
Environment=SITE={{ target_site }}
Environment=CYCLONEDDS_URI={{ repo_root }}/config/cyclonedds.xml

LimitRTPRIO=99
LimitMEMLOCK=10000000000

Type=simple
User=mtms
ExecStart={{ repo_root }}/scripts/start-mtms-bridge
ExecStop={{ repo_root }}/scripts/stop-mtms-bridge
Restart=always

[Install]
WantedBy=multi-user.target
