.wy-nav-content {
  max-width: 1200px;
  min-width: 800px;
}
.wy-table-responsive {
  max-width: 100%;
}
.wy-table-responsive table {
  max-width: 1200px !important;
}
.wy-table-responsive table td {
  word-wrap: break-word;
  white-space: normal;
}
