[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
mne = "*"
python-dotenv = "*"
readersender = {editable = true,git = "https://github.com/juusokorhonen/readersender.git"}
confluent-kafka = "*"

[requires]
python_version = "3.6"
