[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
mne = "*"
pykafka = "*"
readersender = {editable = true,git = "https://github.com/juusokorhonen/readersender.git"}
