[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-cors = "*"
numpy = "*"
pykafka = "*"
pytest = "*"
pytest-mock = "*"
flask-socketio = "*"
python-socketio = {extras = ["client"], version = "*"}
gevent = "*"
gevent-websocket = "*"
setuptools = "*"
