[Unit]
Description=mTMS core containers
After=docker.service
Requires=docker.service

[Service]
Environment=MTMS_ROOT=/home/mtms/mtms
Environment=SITE=Tubingen

LimitRTPRIO=99
LimitMEMLOCK=10000000000

ExecStart=/home/mtms/mtms/scripts/linux/usage/start-core
ExecStop=/home/mtms/mtms/scripts/linux/usage/stop-core
Restart=always

[Install]
WantedBy=multi-user.target
